hipchat_api_token: '<token>'
hipchat_room: "<room name or id>"
notify: 0
from: "Gitolite"
# define one of these to include URLs
gitweb_url: 'https://my-gitweb-url.com'  # Must use "pretty" paths
# cgit_url: 'https://my-cgit-url.com'
message_format: "git-log"
# proxy_address: "1.2.3.4"
# proxy_port: 83
