hipchat_api_token: '<token>'
hipchat_room: "<room name or id>"
notify: 0
from: "Gitolite"
gitweb_url: 'https://my-gitweb-url.com'  # Must use "pretty" paths
use_url: false       # Set to false to exclude web link from message
message_format: "git-log"
